services:
  delivery_service:
    build: ./delivery_service
    ports:
      - "8001:80"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/postgres
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - db
      - rabbitmq

  bonus_service:
    build: ./bonus_service
    ports:
      - "8002:80"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/postgres
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/
    depends_on:
      - db
      - rabbitmq

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"