server:
  http_listen_port: 3100

auth_enabled: false

common:
  ring:
    kvstore:
      store: inmemory
  replication_factor: 1

memberlist:
  join_members: []

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
  chunk_idle_period: 1h
  max_chunk_age: 1h
  wal:
    dir: /loki/wal

schema_config:
  configs:
    - from: 2023-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem

limits_config:
  retention_period: 0s

table_manager:
  retention_deletes_enabled: false
  retention_period: 0s